@import "reset.styl"

.page
  &__wrap
    padding-top: 8vh
    max-width 600px
    margin: 0 auto

.form
  &__input
    display: block;
    box-sizing border-box;
    width: 100%
    padding: .5rem
  &__row
    &:not(:last-child)
      margin-bottom: 1rem

  &__btn
    padding: .5rem .8rem
